@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Maven+Pro:wght@500&display=swap');

:root {
    --mainColour: rgb(81, 206, 195);
}

button:hover {
    cursor: pointer;
}

.btn-main {
    border-radius: 5px;
    border: none;
    background-color: var(--mainColour);
    padding: 10px;
    box-shadow: 0px 0px 9px 9px rgba(0,0,0,0.01);
    text-decoration: none;
    color: white;
}

.btn-secondary {
    border-radius: 5px;
    border: none;
    background-color: white;
    color: var(--mainColour);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 9px 9px rgba(0,0,0,0.01);
    border: solid rgb(243, 243, 243) 1px;
}

.btn-danger {
    border-radius: 5px;
    border: none;
    background-color: rgb(252, 96, 96);
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 0px 9px 9px rgba(0,0,0,0.01);
}

body {
    background-color: rgb(245 247 246);
    margin: 0;
    padding-top: 56px;
}

.capitalize {
    text-transform: capitalize;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Abril Fatface', cursive;
}

p,a,li,small,button,div,td {
    font-family: 'Maven Pro', sans-serif;
}

a {
    text-decoration: none;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: 10px;
}

.m-2 {
    margin: 20px;
}

.ml-1 {
    margin-left: 10px;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mx-1 {
    margin-left: 10px;
    margin-right: 10px;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-05 {
    margin-bottom: 5px;
}
.mb-1 {
    margin-bottom: 10px;
}
.mb-2 {
    margin-bottom: 20px;
}
.mb-3 {
    margin-bottom: 30px;
}

.mb-4 {
    margin-bottom: 40px;
}

.p-0 {
    padding: 0px;
}

.p-1 {
    padding: 10px;
}

.p-2 {
    padding: 20px;
}

.pb-1 {
    padding-bottom: 10px;
}

.px-2 {
    padding-right:20px;
    padding-left:20px;
}

.py-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50% !important;
}

hr {
    border: solid 1px rgb(228, 228, 228);
    border-top: none;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.justify-content-between {
    display: flex;
    justify-content: space-between;
}

.justify-content-around {
    display: flex;
    justify-content: space-around;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.align-items-center {
    display: flex;
    align-items: center;
}

.justify-content-start {
    display: flex;
    justify-content: flex-start;
}

.hidden {
    display: none;
}

.text-center {
    text-align: center;
}

.text-secondary {
    color: rgb(155, 155, 155);
    text-decoration: none;
}

.text-main {
    color: var(--mainColour);
}

.text-dark {
    color: black !important;
}

.input-style {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: solid rgb(230, 230, 230) 1px;
    background-color: rgb(250, 250, 250) !important;
    color: rgb(145, 145, 145) !important;
    border-radius: 5px;
}

.form-group div {
    margin-top: 15px;
}

.form-group p {
    margin-bottom: 10px;
    font-size: 0.9em;
}

.opacity-1 {
    opacity: 1 !important;
}

.clickable {
    cursor: pointer;
}

.float-right {
    float: right;
}

.form-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}   

.form-wrapper {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 0px;
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.08);
    box-sizing: border-box;
}

@media screen and (min-width: 500px) {
    .form-wrapper {
        height: auto;
        border-radius: 8px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}