.form-group input {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 15px;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(145, 145, 145);
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-group input:last-child {
    margin: 0;
}

.form-group input, .form-group input:-webkit-autofill,
.form-group input:-webkit-autofill:hover, 
.form-group input:-webkit-autofill:focus {
    width: 100%;
    padding: 15px 15px;
    border: none;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(145, 145, 145) !important;
}