#loading {
    width: 100%;
}

.rating-icon {
    width: 25px;
    height: 25px;
}

.love-icon {
    opacity: 0.25;
}

/* form */

#bookForm {
    display: flex;
    justify-content: center;
    margin: 10px 10px 30px 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

#bookForm img {
    width: 30px;
    height: 30px;
    opacity: 0.2;
    padding: 8px;
}

#bookForm input, input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
    width: 80%;
    padding: 15px 15px;
    border: none;
    background-color: rgb(255, 255, 255) !important;
    color: rgb(145, 145, 145) !important;
}

#bookForm input::placeholder {
    color: rgb(182, 182, 182);
}

#bookForm input:focus {
    outline: none;
}

#bookForm button {
    border-radius: 0 5px 5px 0;
    border: none;
    background-color: var(--mainColour);
    padding: 0 12px;
}

button:focus {
    outline: none;
}

/* books container */

.book-container {
    position: relative;
    margin: 15px;
    padding: 10px;
    opacity: 0;
}

.book-img-container {
    position: absolute;
    top: 0;
    left: 0;
}

.book-info-container {
    box-shadow: 3px 3px 11px 11px rgba(0,0,0,0.02);
    border-radius: 8px;
    padding: 10px;
    padding-left: 110px;
    margin: 10px;
    background-color: rgb(252, 252, 252);
}

.book-container .book-img {
    box-shadow: 3px 3px 10px 10px rgba(0,0,0,0.03);
    width: 100px;
    height: 150px;
    border-radius: 8px;
    background-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-container h3 {
    margin: 0;
}


.rating {
    display: flex;
    align-items: center;
    color: rgb(236, 159, 58);
    margin: 0;
}

.book-container .rating img {
    margin-right: 10px;
}

.book-container .page-count {
    display: flex;
    align-items: center;
    margin: 4px 0;
}

.book-container .page-count img {
    margin-right: 10px;
}

.book-container .info-icon {
    position: absolute;
    border-radius: 25px;
    right: -0px;
    top: 0px;
    background-color: white;
    border: solid 1px rgb(233, 233, 233);
    box-shadow: 0 0 15px 0px rgb(0 0 0 / 5%);
    border-radius: 25px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

/* book info container */

.info-back-button {
    margin: 10px;
    margin-bottom: 0;
    opacity: 0.5;
}

.one-book-info-container {
    padding-top: 62px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(245 247 246);
    display: none;
    z-index: 30;
    overflow: auto;
}

.book-info-img {
    width: 50vw;
    height: 100%;
    display: block;
    margin: auto;
    padding: 40px 0;
}

.book-all-info-container {
    background-color: white;
    padding: 15px;
    padding-bottom: 90px;
}

.book-all-title-container {
    display: grid;
    grid-template-columns: 90% 10%;
}

.book-all-title-container h3 {
    margin-top: 5px;
}

.book-all-info-container .add-book {
    position: fixed;
    top: 77px;
    right: 0;
    left: 0;
    padding: 18px;
    border:none;
    background-color: var(--mainColour);
    border-radius: 15px;
    box-shadow: 3px 3px 15px 15px rgba(0,0,0,0.03);
    color: white;
    font-size: 1.2em;
    display: block;
    text-decoration: none;
    text-align: center;
}