.book-data-info-container p {
    padding: 6px 0;
    margin: 0;
}


.book-data-info-container p:nth-last-child(odd) {
    background-color: rgb(250, 250, 250);
}

.note-textarea {
    height: 150px;
}