.alert {
padding: 0.8rem;
opacity: 0.9;
background: white;
color: #333;
box-shadow: 0 0 12px 12px rgba(0,0,0,0.03);
}

.alert-danger {
background: rgb(231, 33, 33);
color: #fff;
}

.alert-success {
background: rgb(31, 202, 31);
color: #fff;
}