@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

nav {
    background-color: white;
    padding: 8px 14px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px 8px rgba(0,0,0,0.02);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 300;
}

.burger-menu-container div {
    height: 4px;
    width: 27px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 4px;
    border-radius: 2px;
}

.burger-menu-container div:last-of-type {
    margin: 0;
}

#nav-container {
    padding: 15px;
    height: 100vh;
    background-color: white;
    z-index: -1;
    position: fixed;
    top: 56px;
    right: 0;
    left:0;
    transform: translateY(-220vw);
}

#nav-container p {
    margin: 0;
}

#nav-container h3 {
    margin: 0;
}

.nav-image {
    border-radius: 50%;
    height:60px;
    width: 60px;
    border: solid 3px var(--mainColour);
    margin-right: 10px;
}

.nav-link-container {   
    list-style: none;
    padding: 0 10px;
    margin: 0;
}

.nav-link-container li {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.nav-link-container li a {
    text-decoration: none;
}

.nav-app-name {
    margin: 2px 5px;
    color: #b0b0b0;
    font-family: 'Parisienne', cursive;
    text-decoration: none;
    font-size: 1.7em;
}